.offers-cards {
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  gap: 24px; /* Espaçamento de 24px entre os itens */
  padding: 0 24px;
}

.card {
  box-sizing: border-box; /* Impede que padding e borda aumentem o tamanho do elemento */
  color: var(--text-secondary-color);
  background-color: rgb(38, 49, 49);
  width: 366px;
  height: 288px;
  padding: 24px 16px;
  border-radius: 16px;
  text-align: center;
}

.card header {
  display: block; /* Faz o elemento ocupar 100% da largura disponível e quebrar linha */
  background-color: transparent;
  position: static;
  padding: 0;
  margin-bottom: 24px;
}

.card header p {
  font-size: 20px;
  font-weight: var(--text-weight);
  color: var(--text-secondary-color);
}

.card header h3 {
  font-size: 40px;
  font-weight: var(--titles-weight);
  margin: 8px 0 0;
}

.card header span {
  font-size: 32px;
  margin-top: 24px;
  display: inline-block;
  font-weight: var(--titles-weight);
}

.card.japao {
  background: url(../img/bg-card-japao.jpg) no-repeat;
  background-size: cover; /* Redimensiona a imagem de fundo para cobrir todo o elemento, sem distorcer (pode cortar) */
}

.card.san-andreas {
  background: url(../img/bg-card-san-andreas.jpg) no-repeat;
  background-size: cover; 
}

.card.paraiba {
  background: url(../img/bg-card-paraiba.jpg) no-repeat;
  background-size: cover; 
}

.card.manaus {
  background: url(../img/bg-card-manaus.jpg) no-repeat;
  background-size: cover; 
}


/* MEDIA QUERRY */
@media screen and (min-width: 768px) {
  .offers-cards {
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap; 
    justify-content: center; 
    padding: 0 60px;
  }

  .card {
    width: 342px;
  }
}

@media screen and (min-width: 1024px) {
  .card {
    width: 420px;
    height: 308px;
  }

  .card header h3 {
    font-size: 48px;
  }

  .card header span {
    font-size: 40px;
  }
}

@media screen and (min-width: 1440px) {
    .card {
        width: 588px;
    }
}

@media screen and (min-width: 1920px) {
    .offers-cards {
        margin: 0 auto;
        padding: 0 250px;
    }
    .card {
        width: 688px;
    }
    .card.japao {
      background: url(../img/bg-card-japao-desktop.jpg) no-repeat;
      background-size: cover; 
    }

    .card.san-andreas {
      background: url(../img/bg-card-san-andreas-desktop.jpg) no-repeat;
      background-size: cover; 
    }

    .card.paraiba {
      background: url(../img/bg-card-paraiba-desktop.jpg) no-repeat;
      background-size: cover; 
    }

    .card.manaus {
      background: url(../img/bg-card-manaus-desktop.jpg) no-repeat;
      background-size: cover; 
    }
}